<header class="navbar navbar-dark bg-dark">
    <div class="container">
<li class="nav-item">
    <h5><a class="text-white" href="/">Accueil</a> </h5>
</li>
        <nav>
            <ul class="nav navbar-nav navbar-right" class="text-white">
                <% if logged_in? %>
                <li class="nav-item">
                    <h5><a class="text-white" href="/home">La page du club</a> </h5>
                </li>
                <li class="nav-item">
                <h5><a class="text-white" href="/users/<%=current_user.id%>">Ton profil</a> </h5>
                </li>
                <li class="nav-item">
                    <h5><a class="text-white" href="/logout">Se déconnecter</a> </h5>
                </li>
                <% else %>
                <li class="nav-item">
                    <h5><a class="text-white" href="/login">Enregistre-toi !</a> </h5>
                </li>
                <li class="nav-item">
                    <h5><a class="text-white" href="/signup">Inscris-toi !</a> </h5>
                </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>